<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Practico 1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="site-components">
        <div id="app" class='container mt-3'>

            <div id="Paso2" class="card mb-3">
                <div class="card-header p-3">
                    <h2>Paso #2</h2>
                    <p>Nombre: {{ nombre }} </p>
                    <p>Edad: {{ edad }} </p>
                    <p>Ciudad: {{ ciudad }} </p>
                    <hr>
                    <p>Hola! Mi nombre es {{nombre}}, tengo {{edad}} años y vivo en la ciudad de {{ciudad}} </p>
                </div>
            </div>

            <div id="Paso3" class="card mb-3">
                <div class="card-header p-3">
                    <h2>Paso #3</h2>
                    <div class="card-body">
                        <p>Contador: {{ contador }} </p>
                        <button @click="incrementar" >Incrementar</button>
                        <button @click="decrementar" >Decrementar</button>
                    </div>
                </div>
            </div>

            <div id="Paso4" class="card mb-4">
                <div class="card-header p-3">
                    <h2>Paso #4</h2>
                    <div class="card-body">
                        <p>Lista de Tareas</p>
                            
                        <div class="input-group mb-3">
                            <input type="text" @keyup.enter="agregarTarea" v-model="nuevaTarea" class="form-control" placeholder="Escribe una nueva tarea">
                            <div class="input-group-append">
                                <button class="btn btn-primary" @click="agregarTarea" >Añadir Tarea</button>
                            </div>
                        </div>
                                           
                            <ul class="list-group mb-3">
                                <li v-for="tarea in tareas" :key="tarea.id" class="list-group-item d-flex justify-content-between align-items-center" >
                                <div>
                                    <input type="checkbox" v-model="tarea.completada" class="mr-2">
                                    <span :class="{ 'text-muted' : tarea.completada }"> {{ tarea.texto }} </span>
                                </div>
                                </li>
                            </ul>

                            <p>Total de Tareas: {{ totalTareas }} </p>
                            <p>Tareas Pendientes: {{ tareasPendientes }} </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        

    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                nombre: "Ana García",
                edad: 30,
                ciudad: "Tupungato",
                contador: 0,
                nuevaTarea: "",
                tareas: [{
                    id: 1,
                    texto: "Aprender Vue",
                    completada: false
                }]
            },
            methods: {
                incrementar (){
                    this.contador++;
                },
                decrementar() {
                    this.contador--;
                },
                agregarTarea() {
                    if (this.nuevaTarea.trim() !== "" ){
                        const nuevaId = this.tareas.length +1;
                        this.tareas.push({id: nuevaId, texto: this.nuevaTarea, completada: false });
                        this.nuevaTarea = "";
                    }
                }
            },
            computed: {
                totalTareas() {
                    return this.tareas.length;
                },
                tareasPendientes() {
                    return this.tareas.filter(t => !t.completada).length;
                }
            }
        })

    </script>

</body>
</html>